node_modules/**
node_modules
/Backend/osorio-sequeira-backend/target
/Backend/osorio-sequeira-backend/target/*
/Backend/osorio-sequeira-backend/.idea
/Backend/osorio-sequeira-backend/.idea/*
/Backend/osorio-sequeira-backend/.mvn
/Backend/osorio-sequeira-backend/.mvn/*
/Backend/osorio-sequeira-backend/src/main/resources/META-INF/persistence.xml
/Backend/osorio-sequeira-backend/src/main/resources/META-INF/*

.vscode
.vscode/*
/Frontend/.vscode
/Frontend/.vscode/*
/Frontend/testes2.0/node_modules
/Frontend/testes2.0/node_modules/
/Frontend/testes2.0/node_modules/*

