:root{
    --green: #B0B9A2;
    --beige: #f1f3eb;
    --darkGreen: #132a0e;
}

*, html{
    margin: 0;
    padding: 0;
    background-color: var(--beige);
}

.main-content {
    display: grid;
    margin-left: 0;
    font-size: 25px; /* Tamanho maior */
    line-height: 2; /* Espaçamento entre linhas */
    margin-top: 20vh; /*Espaçamento entre o header*/
    margin-bottom: 100px; /* Espaço adicional entre o conteúdo e o rodapé */
    gap: 15px;
    text-align: center; /* Centraliza o texto */
}

.main-title h4{
    font-family: "Playfarer";
    text-align: left;
    font-size: 30px;
    color: var(--darkGreen);
}

.main-content p{
    font-family: "Montserrat";
    font-size: 20px;
    color: #132a0e;
    text-align: left;
    margin-left: 5%;
}

.main-title{
    align-items: center;
    display: flex;
    position: relative;
    float: left;
    vertical-align: middle;
    padding-left: 5%;
    gap:15px;
}

.main-title h4{
    display:inline-block;
}

.main-title img{
    display:inline-block;
    height: 50px;
}

.sustentabilityBanner{
    width: 100%;
    padding-top: 5%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
        display: none;
        position: fixed; /* Para o aside flutuar sobre o conteúdo */
        left: 0;
        top: 0;
        padding: 10px;
        padding-top: 50px; /* Ajuste para mover o conteúdo mais para baixo */
        background-color: #f1f3ebaa; /* Cor verde com transparência */
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Verdana';
        text-align: right; /* Alinha o conteúdo à direita */
        line-height: 2;
        height: 100vh; /* O aside ocupará toda a altura da tela */
        width: 250px; /* Largura do aside */
        z-index: 997; /* Certifique-se de que o aside fique acima do conteúdo */
      }

aside a{
    background-color: #f1f3ebaa;
    text-decoration: none;
    color: #333;
    font-size: 22px;
    font-weight: bold;
}

aside a:hover {
    color: var(--dark);
}