:root{
    --green: #0e8c4d;
}

*, html{
    margin: 0;
    padding: 0;
}

.main-content {
        margin-left: 0;
        font-size: 25px; /* Tamanho maior */
        line-height: 2; /* Espaçamento entre linhas */
        margin-top: 25vh; /*Espaçamento entre o header*/
        margin-bottom: 100px; /* Espaço adicional entre o conteúdo e o rodapé */
        text-align: center; /* Centraliza o texto */
}

.sustentabilityBanner{
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside {
        display: none;
        position: fixed; /* Para o aside flutuar sobre o conteúdo */
        left: 0;
        top: 0;
        padding: 10px;
        padding-top: 50px; /* Ajuste para mover o conteúdo mais para baixo */
        background-color: rgba(0, 128, 0, 0.3); /* Cor verde com transparência */
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Verdana';
        text-align: right; /* Alinha o conteúdo à direita */
        line-height: 2;
        height: 100vh; /* O aside ocupará toda a altura da tela */
        width: 250px; /* Largura do aside */
        z-index: 1000; /* Certifique-se de que o aside fique acima do conteúdo */
      }

aside a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
    font-weight: bold;
}

aside a:hover {
    color: #0c7a3e;
}


