/* Estilo global */
:root{
  --green: #B0B9A2;
  --beige: #f1f3eb;
  --darkGreen: #132a0e;
}

/* Estilo global do html */
*, html{
    margin: 0;
    padding: 0;
}
/* Estilo global do body */
  body{
    background-color: var(--beige);
  }

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.main-content {
    padding: 100px;
    width: 100vw;
    margin-left: 0;
    font-size: 25px; /* Tamanho maior */
    line-height: 2; /* Espaçamento entre linhas */
    margin-bottom: 100px; /* Espaço adicional entre o conteúdo e o rodapé */
    text-align: center; /* Centraliza o texto */
}

/* Estilo para o aside */
aside {
    display: none;
    position: fixed; /* Para o aside flutuar sobre o conteúdo */
    left: 0;
    top: 80px;
    padding: 10px;
    background-color: #f1f3ebaa; /* Cor verde com transparência */
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat';
    line-height: 2;
    height: 100vh; /* O aside ocupará toda a altura da tela */
    width: 250px; /* Largura do aside */
    z-index: 1; /* Certifique-se de que o aside fique acima do conteúdo */
  }

  aside h3{
    font-family: 'Verdana';
    }

    aside ul li{
      font-family: 'Verdana';
      list-style-type: none;
      text-align: center;
    }

    aside ul li:hover{
      text-decoration: underline;
    }

  /* Estilo para o botão de fechar o aside */
.button{
    float: right;
    margin-top: 3%;
    display: block;
    border-radius: 2px;
    text-align: center;
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 2px 2px;
    background-color: #ffffff;
    border: none;
}

/* Estilo para a grade de imagens */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Colunas flexíveis */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Espaçamento interno */
    grid-template-rows: 300px;
}

.grid-item {
    background-color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
    transition: box-shadow 0.3s ease-in-out; /* Transição suave */
    cursor: pointer; /* Indica que o item é clicável */
    align-content: center;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    justify-self: center;
}

.grid-item .text-overlay {
    position: absolute;
    bottom: 0;
    background: #b0b9a27e; /* Fundo semi-transparente */
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 14px; /* Tamanho menor do texto */
}

.text-overlay h2, p{
  font-family: "Montserrat";
  color: var(--darkGreen);
}

.grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}

.grid-item:hover .text-overlay {
    opacity: 1; /* Exibe o texto */
}

/* Estilo para a categoria ativa no main */
.categoria-ativa {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
    background-color: #f0f0f0; /* Cor de fundo para destaque */
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Transição suave */
}

/* Estilo para o botão de adicionar produto */
#add-product-btn {
    color: var(--darkGreen);
    cursor: pointer;
    font-family: 'Montserrat'; /* Fonte arredondada e elegante */
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin-left: auto; /* Adiciona margem automática à esquerda */
    margin-right: 0; /* Remove qualquer margem à direita */
    text-align: left; /* Alinha o texto à direita */
}

/* Efeito de hover para o botão de adicionar produto */
#add-product-btn:hover {
  text-decoration: underline;
}

/* Formulário oculto por padrão */
#add-product-form {
    display: none;
    margin-top: 20px;
}

#add-product-form label {
    font-family: 'Verdana'; /* Fonte arredondada e elegante */
    font-size: 16px;
    color: #333;
}

/* Estilo para os campos do formulário */
#add-product-form input[type="text"],
#add-product-form input[type="submit"],
#add-product-form select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Verdana'; /* Fonte arredondada e elegante */
    font-size: 16px;
}

/* Estilo para o botão de envio do formulário */
#add-product-form input[type="submit"] {
    background-color: var(--green); /* Cor verde */
    color: white; /* Cor do texto */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão de envio do formulário */
#add-product-form input[type="submit"]:hover {
    background-color: #0c7a3e; /* Cor verde mais escura */
}


/*---------------The Modal (background)-----------------------*/
/* Estilo para o modal de detalhes */
.modal-detail {
  max-height:calc(100vh - 100px);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-detail input[type="text"] {
  font-size: 18px;
  font-family: "Montserrat";
  border: none;
  border-bottom: 1px solid #000;
  width: 200px;
  outline: none;
}

/* Modal Content */
.modal-content-detail {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  padding-bottom: 12px;
  border: 1px solid #888;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Animação de entrada do modal */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Modal Header */
.modal-header-detail {
  display: flex;
  align-items: center;
  padding: 2px 16px;
  background-color: var(--green);
  color: var(--beige);
  justify-content: space-between;
}

.modal-header-detail-title{
  font-family: "Playfair Display";
  color: var(--beige);
  font-size: 25px;
  height: auto;
  font-weight: bold;

}
/* Estilo para o botão de fechar o modal */
.close-detail {
  display:flex;
  color: white;
  float: right;
  font-size: 30px;
  font-family: "Playfair Display";
  font-weight: bold;
}

/* Efeito de hover para o botão de fechar o modal */
.close-detail:hover,
.close-detail:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  

.modal-body-detail {
  padding: 16px 16px;
}

/* Estilo para o botão de editar produto */
  .edit-product-form{
      text-align: left;
  }

  .edit-product-form-field{
    display: block;
    font-family: 'Montserrat';
  }

  .edit-product-form-field label{
      font-size: 18px;

  }

  .edit-product-form-field label:hover{
    text-decoration: underline;
  }

  .edit-product-form-field input{
    font-size: 14px;
  }

  /* Estilo para o botão de guardar o produto */
  .save-product{
    float: inline-end;
    background-color: var(--green); /* Cor verde */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Playfair Display";
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

/* Efeito de hover para o botão de guardar o produto */
  .modal-body p{
      white-space: pre-wrap;
  }

.modal-footer-detail {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-footer-detail input{
  background-color: var(--green); /* Cor verde */
  color: white; /* Cor do texto */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Verdana'; /* Fonte arredondada e elegante */
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.modal-footer-detail input:hover,
.modal-footer-detail input:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}