/*---------------The Modal (background)-----------------------*/
.modal-changePassword {
  display: flex;
  max-height: calc(100vh - 100px);
  position: fixed;
  z-index: 1000; /* z-index indica a sobreposição - janelas modal têm a maior sopbreposição*/
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permitir scroll da janela */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/*--caixa de texto do formulário---*/
.modal-changePassword input[type="password"] {
  font-size: 18px;
  font-family: "Montserrat";
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  outline: none;
}

/* Conteúdo da janela modal */
.modal-content-changePassword {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  padding-bottom: 10px;
  border: 1px solid #888;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/*Adicionar animação ao modal*/
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Animação de 'queda' */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*Header da janela modal*/
.modal-header-changePassword {
  display: flex;
  align-items: center;
  padding: 2px 16px;
  background-color: var(--green);
  color: var(--beige);
  justify-content: space-between;
}

.modal-header-changePassword-title {
  font-family: "Playfair Display";
  color: var(--beige);
  font-size: 25px;
  height: auto;
  font-weight: bold;
}

.modal-body-changePassword {
  padding: 16px 30px;
  gap: 5px;
  }

/* Estilo para o formulário de edição de produto */
.edit-changePassword-form {
  text-align: left;
}

.edit-changePassword-form-field {
  display: block; /* Alinha os campos do formulário em bloco */
}

/* Estilo para os rótulos e campos de entrada do formulário */
.edit-changePassword-form-field label {
  font-size: 18px;
  font-family: "Montserrat";
}

/* Efeito de sublinhado ao passar o mouse sobre o rótulo */
.edit-changePassword-form-field label:hover {
  text-decoration: underline;
}

/* Estilo para os campos de entrada do formulário */
.edit-changePassword-form-field input {
  font-size: 14px;
}

/* Estilo para o botão de guardar produto */
.submit {
  float: inline-end;
  background-color: var(--green); /* Cor verde */
  color: white; /* Cor do texto */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Playfair Display";
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cancel {
  float: inline-start;
  background-color: var(--green); /* Cor verde */
  color: white; /* Cor do texto */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Playfair Display";
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.modal-body p {
  white-space: pre-wrap;
}

.changePasswordButtons{
  display: flex;
  justify-content: space-evenly;
}