:root{
    --green: #B0B9A2;
    --beige: #f1f3eb;
    --darkGreen: #132a0e;
}

.montserrat-Montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.playfair-display-Playfair Display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

*, html{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--beige);
}

/*Conteúdo principal*/
.main-content-index {
    display: grid;
    margin-left: 0;
    font-size: 25px;
    line-height: 2;
    margin-top: 20vh; /*Espaçamento entre o header*/
    margin-bottom: 100px; /* Espaço adicional entre o conteúdo e o rodapé */
    gap: 15px; /*espaçamento entre elementos*/
    text-align: center; /* Centraliza o texto */
}

/*Título no body*/
.main-title h4{
    font-family: "Playfair Display";
    text-align: left;
    font-size: 30px;
    color: var(--darkGreen);
}

/*Texto no body*/
.main-content-index p{
    font-family: "Montserrat";
    font-size: 20px;
    color: var(--darkGreen);
    text-align: left;
    margin-left: 5%;
}

.main-title{
    align-items: center;
    display: flex;
    position: relative;
    float: left;
    vertical-align: middle;
    padding-left: 5%;
    gap:15px;
}

.main-title h4{
    display:inline-block;
}

.main-title img{
    display:inline-block;
    height: 50px;
}


/*Banner da página*/
.sustentabilityBanner{
    width: 100%;
    padding-top: 5%;
}



