:root{
    --green: #B0B9A2;
    --beige: #f1f3eb;
    --darkGreen: #132a0e;
}

.montserrat-Montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.playfair-display-Playfair Display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.navbar {
    background-color: #2b363d !important; /* Example: Custom Blue */
}

.container {
    background-color: #2b363d !important; /* Example: Custom Blue */
}

.hamburger {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logo-img {
    height: 40px;
    cursor: pointer;
}