/* Estilo para o rodapé */
.footer{
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    background-color: var(--green); /* Cor verde */
    width: 100%;
    margin-left: 0;
    padding: 0;
    z-index: 1;
}

    .footerContainer {
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: 'Montserrat'; /* Fonte arredondada e elegante */
        border-top: 1px solid #d3d3d3; /* Borda superior */
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
    }

    .footerContainer h3{
      font-family: "Playfarer";
      color: var(--darkGreen);
      font-size: 30px;
      text-align: center;
      margin-bottom: 15px;
    }

    .footerContainer ul li{
      list-style-type: none;
      text-align: center;

    }


    .footerInfo, .footerInfo ul li, .footerInfo p, .footerInfo a, .footerInfo ul li img{
      font-family: 'Montserrat'; /* Fonte arredondada e elegante */
      font-size: 20px;
      color: var(--darkGreen);
    }

    .contact{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .listaSocial{
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
    }


    .copyright {
        font-family: "Playfarer";
        font-size: 18px;
        background-color: transparent;
        text-align: right;
        margin-top: 20px;
        padding: 20px;
    }