/* Estilo para o aside */
aside {
    display: block; /* mudar para blocked para aparecer*/
    position: fixed; /* Para o aside flutuar sobre o conteúdo */
    left: 0;
    top: 80px;
    padding: 10px;
    color:var(--darkGreen);
    background-color: #f1f3ebe8; /* Cor verde com transparência */
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat";
    line-height: 2;
    height: 100vh; /* O aside ocupará toda a altura da tela */
    width: 250px; /* Largura do aside */
    z-index: 1; /* Para que o aside fique acima do conteúdo */
    -webkit-animation-name: slideFromLeft;
    -webkit-animation-duration: 0.4s;
    animation-name: slideFromLeft;
    animation-duration: 0.4s
  }
  
  aside ul h3 {
    margin-top: 5%;
    font: "Playfair Display";
    text-align: center;
    text-decoration: none;
  }

  .asideTitle {
    margin-top: 10%;
    text-align: center;
  }

  aside h2 {
    text-align: center;
    text-decoration: none;
  }
  
  .link {
    text-decoration: none;
    color: var(--darkGreen)
  }
    
  
  aside ul li {
    font-family: "Montserrat";
    list-style-type: none;
    text-align: center;
    cursor: pointer;
  }
  
  aside ul li:hover {
    text-decoration: underline;
  }

  /*Adicionar animação ao modal*/
  @-webkit-keyframes slideFromLeft {
    from {left:-250px; opacity:0} 
    to {left:0; opacity:1}
  }
  /* Animação de 'queda' */
  @keyframes slideFromLeft {
    from {left:-250px; opacity:0}
    to {left:0; opacity:1}
  }