/* Estilo para o modal de detalhes */
.modal-addProduct {
  display: flex;
  max-height: calc(100vh - 100px);
  position: fixed;
  z-index: 1000; /* z-index indica a sobreposição - janelas modal têm a maior sopbreposição*/
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permitir scroll da janela */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content-addProduct {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  padding-bottom: 10px;
  border: 1px solid #888;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

  
  /* Modal Content */
  
  /* Animação de entrada do modal */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Modal Header */
  .modal-header-addProduct {
    display: flex;
    align-items: center;
    padding: 2px 16px;
    background-color: var(--green);
    color: var(--beige);
    justify-content: space-between;
  }
  
  .modal-header-addProduct-title{
    font-family: "Playfair Display";
    color: var(--beige);
    font-size: 25px;
    height: auto;
    font-weight: bold;
  
  }
  /* Estilo para o botão de fechar o modal */
  .close-addProduct {
    display:flex;
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Efeito de hover para o botão de fechar o modal */
  .close-addProduct:hover,
  .close-addProduct:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
    
  
  .modal-body-addProduct {
    padding: 16px 30px;
    gap: 5px;
  }
  
  /* Estilo para o botão de editar produto */
    .add-product-form{
        text-align: left;
    }

    .modal-addProduct input[type="text"] {
      font-size: 18px;
      font-family: "Montserrat";
      border: none;
      border-bottom: 1px solid #000;
      width: 100%;
      outline: none;
    }

    .modal-addProduct select {
      font-size: 18px;
      font-family: "Montserrat";
      border: none;
      border-bottom: 1px solid #000;
      width: 100%;
      outline: none;
    }
  
    .add-product-form-field {
      display: block;
      margin-top: 10px;
    }

    .add-product-form-field label {
      font-size: 18px;
      font-family: "Montserrat";
    }
  
  
    .add-product-form-field label:hover{
      text-decoration: underline;
      
    }
  
    /* Estilo para o botão de guardar o produto */
    .save-addProduct{
      float: inline-end;
      background-color: var(--green); /* Cor verde */
      color: white; /* Cor do texto */
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: "Playfair Display";
      font-size: 16px;
      margin-top: 20px;
      transition: background-color 0.3s ease;
    }
  
  /* Efeito de hover para o botão de guardar o produto */
    .modal-body p{
        white-space: pre-wrap;
    }