:root{
    --green: #B0B9A2;
    --beige: #f1f3eb;
    --darkGreen: #132a0e;
}

.montserrat-Montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.playfair-display-Playfair Display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

*, html{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--beige);
}

/*Conteúdo principal*/
.main-content-index {
    display: grid;
    margin-left: 0;
    font-size: 25px;
    line-height: 2;
    margin-top: 20vh; /*Espaçamento entre o header*/
    margin-bottom: 100px; /* Espaço adicional entre o conteúdo e o rodapé */
    gap: 15px; /*espaçamento entre elementos*/
    text-align: center; /* Centraliza o texto */
}

/*Título no body*/
.main-title h4{
    font-family: "Playfair Display";
    text-align: left;
    font-size: 30px;
    color: var(--darkGreen);
}

/*Texto no body*/
.main-content-index p{
    font-family: "Montserrat";
    font-size: 20px;
    color: var(--darkGreen);
    text-align: left;
    margin-left: 5%;
}

.main-title{
    align-items: center;
    display: flex;
    position: relative;
    float: left;
    vertical-align: middle;
    padding-left: 5%;
    gap:15px;
}

.main-title h4{
    display:inline-block;
}

.main-title img{
    display:inline-block;
    height: 50px;
}


/*Banner da página*/
.sustentabilityBanner{
    width: 100%;
    padding-top: 5%;
}

/*Grid Container dos Produtos*/
/* Estilo para a grade de imagens */
.grid-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); /* Colunas flexíveis */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Espaçamento interno */
    grid-auto-rows: 300px;
  }
  
  .grid-item {
    background-color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
    transition: box-shadow 0.3s ease-in-out; /* Transição suave */
    cursor: pointer; /* Indica que o item é clicável */
    align-content: center;
  }
  
  .grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    justify-self: center;
  }
  
  /*Overlay com um X para produtos excluídos */
  .excluded-overlay::before,
  .excluded-overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; /* Make the X larger than the container */
    height: 40px; /* Thickness of the X lines */
    background: whitesmoke; /* Full transparency */
    border-radius: 10px; /* Rounded corners */
  }
  
  .excluded-overlay::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .excluded-overlay::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .excluded-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(211, 211, 211, 0.6); /* Light grey with 60% opacity */
    z-index: 0;
    pointer-events: none;
  }
  
  .grid-item .text-overlay {
    position: absolute;
    bottom: 0;
    background: #b0b9a27e; /* Fundo semi-transparente */
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 14px; /* Tamanho menor do texto */
  }
  
  .text-overlay h2,
  p {
    font-family: "Montserrat";
    color: var(--darkGreen);
  }
  
  .grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
  }
  
  .grid-item:hover .text-overlay {
    opacity: 1; /* Exibe o texto */
  }
  
  /* Estilo para a categoria ativa no main */
  .categoria-ativa {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
    background-color: #f0f0f0; /* Cor de fundo para destaque */
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Transição suave */
  }
